@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
    background: linear-gradient(to bottom, rgb(53, 10, 91) , rgb(80, 16, 137) );
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
      
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.advice {
  font-family: "Oswald", sans-serif;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 20px;
  text-align: center;
}

